.aa-social .fa{
	height: 42px; 
	color:#fff; 
	padding:5px;
    width: 42px; 
	font-size:30px; 
	border-radius: 5px 0 0 5px; 
	text-align:center;
	position: fixed;
	right: 0;
}
.aa-social .fa-facebook{
	background: #3b5998; 
	top:52px;
}
.aa-social .fa-youtube{
	background: #e62117; 
	top:100px;
}
.aa-social .fa:hover {
	opacity:0.75;
}